# Carpetas y archivos que no se suben a GitHub

#Carpeta del entorno virtual
/env
#Carpetas generadas al usar Jupyter lab
/Proyectos/Unidad1/Numpy/.ipynb_checkpoints
/Proyectos/Unidad1/EDA/.ipynb_checkpoints
/Proyectos/Unidad1/EDA/data/.ipynb_checkpoints
/Proyectos/Unidad2/.ipynb_checkpoints
/Proyectos/Unidad2/socialnetworks.zip:Zone.Identifier

#Carpeta de archivos de redes sociales
/Proyectos/Unidad2/socialnetworks